<%=t 'wikipub.greeting' %>

<p><label><%=t 'wikipub.hostname.label' %>: </label>
<%= text_field_tag 'settings[wikipub_hostname]', @settings['wikipub_hostname'], :size => 100 %><br />
<em><%=t 'wikipub.hostname.description' %></em>
</p>

<p><label><%=t 'wikipub.project.label' %>: </label>
	<%= select_tag 'settings[wikipub_project]', options_redmine_projects, :include_blank => true %> <br />
<em><%=t 'wikipub.project.description' %></em>
</p>

<p><label><%=t 'wikipub.theme.label' %>: </label>
	<%= select_tag 'settings[wikipub_theme]', options_redmine_themes %> <br />
<em><%=t 'wikipub.theme.description' %></em>
</p>
